#excecutables: For executables located in folders listed in PATH, just leave these empty/as is. Only need to specify locations other than PATH... 
blastpath		#path to folder containing blastp abd blastn executables. leave empty if located in PATH(default)
diamondpath	#path to folder containing diamond executable. leave empty if located in PATH (default)
barrnappath		#path to folder containing diamond executable. leave empty if located in PATH (default)
hmmerpath		#path to folder containing hmmsearch executable. leave empty if located in PATH (default)
aragornpath		#path to folder containing aragorn executable. leave empty if located in PATH (default)
prodigalpath	#path to folder containing prodigal executable. leave empty if located in PATH (default)

#misc settings:
threads	1       #number of computational threads to use by default (can be overriden via command-line argument. It is recommended NOT to change this default here, which only applies if no threads argument is pased via commandline)

#database settings
db_type	gtdb #other taxonomies may be supported in future versions, but DO NOT CHANGE THIS for now...
#db_basedir	/specify/path/to/database_folder/here/
