*~
*.bak
*.tab
*.txt
*.ods
*.xls
*.xlsx
delme*
*.gz
*.dmp
*.md5
.*
*.domtblout
*.fasta
*.faa
*.fas
*.log
*.fai
*.db
*.dmp
*.fa
PF*.hmm
TIGR*.HMM

doublet_*
testfiles/
hmms/prok/cog/models/
hmms/prok/cog/raw_prots/
hmms/prok/cog/alignments/

#pypi, wheel and egg stuff
dist/
build/
mdmcleaner.egg-info/

#pychache stuff
__pycache__/
*.py[cod]

