#excecutables: Default settings assume that these executables are listed in PATH. if necessary, absolute paths to each executable can be given instead
blastp	blastp
blastn	blastn
diamond	diamond
rnammer	rnammer
barrnap	barrnap
hmmsearch	hmmsearch
aragorn	aragorn

#misc settings:
threads	1       #number of computational threads to use

#database settings
db_type	gtdb #other taxonomies may be supported in future versions, but DO NOT CHANGE THIS for now...
#db_basedir	/specify/path/to/database_folder/here/
